.config/yarn
.config/oni2
.config/gcloud
.config/Autodesk
.config/configstore
.config/filezilla
.config/xbuild
.config/ppsspp
.config/Dadroit
.config/EasyRPG
.config/fontforge
.config/gpt4all.io
.config/instaloader
.config/pudb

vscodeUser/History
vscodeUser/globalStorage
vscodeUser/workspaceStorage

*.pyc
.DS_Store
**/.DS_Store
